<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Twoje konto zostało utworzone pomyślnie</h2>
        <p>Możesz zalogować się do konta przy pomocy podanych danych</p>
        <hr />
        <p>Dziękuję!</p>
    </div>
</div>