<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info text-center">Dotarłeś do krańca internetu</h1>
        <hr/>
        <a class="btn btn-outline-success" asp-controller="Books" asp-action="Index">Strona główna</a>
    </div>
</div>