<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Zamówienie dodane</h2>
        <p>Możesz sprawdzić szczegóły zamówień w profilu</p>
        <hr />
        <p>Dziękuję!</p>
    </div>
</div>