<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Brak przedmiotów w koszyku!</h2>
        <hr />
        <p>
            <a asp-controller="Orders" asp-action="ShoppingCart" class="btn btn-outline-success">Powrót do koszyka</a>
        </p>
    </div>
</div>